<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('Xchange')" data-ng-class="{active: currency.symbol == 'Xchange'}">Xchange</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mXchange')" data-ng-class="{active: currency.symbol == 'mXchange'}">mXchange</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uXchange')" data-ng-class="{active: currency.symbol == 'uXchange'}">uXchange</a>
  </li>
</ul>

